{% for item in articlespanier %}
<tr>
    <td><a href="javascript:void(0);"><strong>{{item.produit.produit.libelle}}</strong></a></td>
    <td><strong>{{item.quantite}}</strong></td>
    <td>
        <div class="d-flex">
            <button class="btn-outline shadow btn-xs btn sharp me-1 show-form-update" style="color:#01A3FF" data-url="{% url 'updatepanierfrontend' item.id %}"><i class="fas fa-pencil-alt"></i></button>
            <button class="btn-outline shadow btn-xs btn sharp show-form-delete" style="color:#e74c3c" data-url="{% url 'deletearticlepanierfrontend' item.id %}"><i class="fa fa-trash"></i></button>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="3" class="text-center bg-primary" style="font-weight:bold;font-size:15px">Aucun article n'est ajouté au panier</td>
    <td hidden="hidden" colspan="3" class="text-center bg-primary" style="font-weight:bold;font-size:15px">Aucun article n'est ajouté au panier</td>
    <td hidden="hidden" colspan="3" class="text-center bg-primary" style="font-weight:bold;font-size:15px">Aucun article n'est ajouté au panier</td>
</tr>
{% endfor %}