{% for user in utilisateurs %}
<tr class="btn-reveal-trigger">
    <td class="py-2" style="font-size:16px">
        <a href="#"><strong class="text-primary">{{user}}</strong></a>
            <br><a href="mailto:{{historique.panier.mail}}">{{user.mail}}</a>
    </td>

    <td class="py-2" style="font-size:16px">{{user.groupe}}</td>

    {% if user.nom_du_parent != None %}
    <td class="py-2" style="font-size:16px">{{user.nom_du_parent}}</td>
    {% else %}
    <td class="py-2" style="font-size:16px">Aucun parrain</td>
    {% endif %}

    <td class="py-2" style="font-size:16px">{{user.point}} &nbsp; <small style="color:#FD5353">{{ pourcentages_paliers.Maya }}%</small></td>

    {% if user.palier != None %}
    <td class="py-2" style="font-size:16px">{{user.palier}}</td>
    {% else %}
    <td class="py-2" style="font-size:16px">Aucun palier</td>
    {% endif %}
</tr>
{% empty %}
<tr class="btn-reveal-trigger">
    <td class="py-2 text-end" colspan="5">Rien à afficher</td>
    <td class="py-2 text-end" colspan="5" hidden="hidden">Rien à afficher</td>
    <td class="py-2 text-end" colspan="5" hidden="hidden">Rien à afficher</td>
    <td class="py-2 text-end" colspan="5" hidden="hidden">Rien à afficher</td>
    <td class="py-2 text-end" colspan="5" hidden="hidden">Rien à afficher</td>
    <td class="py-2 text-end" colspan="5" hidden="hidden">Rien à afficher</td>
</tr>
{% endfor %}