{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'deletestock' product.id %}" class="delete-form">
	{% csrf_token %}
		<div class="modal-header">
			<h5 class="modal-title">Supprimer le stock de produit</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>
		<div class="modal-body">
			<p class="lead">Êtes-vous sûre de vouloir supprimer ce stock <b>{{product.libelle}}</b></p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Fermer</button>
			<button type="submit" class="btn btn-primary">Supprimer</button>
		</div>
</form>
