{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <!--swiper-slider-->
    <link rel="stylesheet" href="{% static 'vendor/swiper/css/swiper-bundle.min.css' %}">
    <!-- Datatable -->
    <link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/responsive/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
      <link href="../css2?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="hold-transition login-page">

    <div class="login-box">
        <div class="row">
            <div class="col-12 col-lg-3"></div>
            <div class="col-12 col-lg-6">
                <div class="login-logo text-center" style="font-size:50px;">
                    <a href="" class="text-light"><b>GET</b><span style="color:#8854d0">AHEAD 2</span></a>
                </div>
                <div class="card">
                    <div class="card-body login-card-body">
                      <p class="login-box-msg"><b style="text-transform:uppercase">Démarrez votre activité en vous connectant</b></p>

                      <form method="post">
                          {% load static %}
                          {% load crispy_forms_tags %}
                          {% csrf_token %}
                          {{ form|crispy }}
                          <br>
                      <div class="">
                        <button type="submit" class="btn btn-block" style="background-color:#8854d0;font-weight:700;color:#fff">
                            <span style="text-transform:uppercase">Connexion</span> <i style="padding-left:10px" class="fas fa-sign-in-alt"></i></button>
                      </div>
                      </form>
                        <hr>
                        <a href="{% url 'produitfrontend' %}" class="btn btn-outline-primary btn-block" style="text-transform:uppercase;font-weight:700">
                            Retour <i style="padding-left:5px" class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3"></div>
        </div>

    </div>

    <script src="{% static 'vendor/global/global.min.js' %}"></script>
    <script src="{% static 'vendor/chart-js/chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

    <!-- Chart piety plugin files -->
    <script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/user.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/dlabnav-init.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/responsive/responsive.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>
</body>

